<div class="topNav sticky-top" id="navTop">
    <nav class="navbar navbar-expand-md">
      <div class="container">
        <img src="assets/imgs/logo.png" alt="">
        <button
          class="navbar-toggler responsive"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mainmenu"
          aria-controls="mainmenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Course
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Course List</a></li>
                  <li><a class="dropdown-item" href="#">Course Grid</a></li>
                  <li><a class="dropdown-item" href="#">Course Details</a></li>
                  <li><a class="dropdown-item" href="#">Third Level Menu</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Pages
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">About Us</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><a class="dropdown-item" href="#">Shop Page</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Event
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Event List</a></li>
                  <li><a class="dropdown-item" href="#">Event Grid</a></li>
                  <li><a class="dropdown-item" href="#">Event Single</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Blog
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Blog List</a></li>
                  <li><a class="dropdown-item" href="#">Blog Grid</a></li>
                  <li><a class="dropdown-item" href="#">Blog Details</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
              <li class="nav-item login">
                <a class="nav-link" href="#">
                    <i class="bi bi-lock"></i>
                    Login
                </a>
              </li>
            </ul>
        </div>
      </div>
    </nav>
</div>

<section class="landing">
    <div class="container">
        <nav class="navbar header navbar-expand-md p-3">
            <div class="container">
                <div class="logo">
                    <img src="assets/imgs/logo.png" alt="">
                </div>

              <button
                class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#mainmenu"
              >
                <span class="navbar-toggler-icon"></span>
              </button> 
    
              <div class="collapse navbar-collapse" id="mainmenu">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Course
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Course List</a></li>
                      <li><a class="dropdown-item" href="#">Course Grid</a></li>
                      <li><a class="dropdown-item" href="#">Course Details</a></li>
                      <li><a class="dropdown-item" href="#">Third Level Menu</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Pages
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">About Us</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li><a class="dropdown-item" href="#">Shop Page</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Event
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Event List</a></li>
                      <li><a class="dropdown-item" href="#">Event Grid</a></li>
                      <li><a class="dropdown-item" href="#">Event Single</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Blog
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Blog List</a></li>
                      <li><a class="dropdown-item" href="#">Blog Grid</a></li>
                      <li><a class="dropdown-item" href="#">Blog Details</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                  </li>
                  <li class="nav-item login">
                    <a class="nav-link" href="#">
                        <i class="bi bi-lock"></i>
                        Login
                    </a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <div class="card border-0">
            <h1>Angular JavaScript</h1>
            <p class="mt-2">Home / Courses</p>
        </div>
    </div>
</section>