<div class="footer bg-dark p-5">
    <div class="container">
      <div class="row">
        <div class="col-lg col-md-6">
          <img src="assets/imgs/logo.png" alt="">
          <p class="text mt-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Dicta repellendus distinctio velit.
          </p>
        </div>
        <div class="col-lg col-md-6">
          <p class="title">Company</p> 
          <p><a href="">About Us</a></p>
          <p><a href="">Blog</a></p>
          <p><a href="">Become a Teacher</a></p>
          <p><a href="">Contact</a></p>
        </div>
        <div class="col-lg col-md-6">
          <p class="title">Product</p> 
          <p><a href="">Education Pack</a></p>
          <p><a href="">Features & Skills</a></p>
          <p><a href="">Pricing</a></p>
          <p><a href="">Education Starter</a></p>
        </div>
        <div class="col-lg col-md-6">
          <p class="title">About Us</p> 
          <p><a href="">Press</a></p>
          <p><a href="">Jobs</a></p>
          <p><a href="">Blog</a></p>
          <p><a href="">Feedback</a></p>
        </div>
      </div>
    </div>
</div>
<div class="copyright bg-dark text-center p-4">&copy; copyright 2022</div>