<div class="card number">
    <p class="text-center">
      <span class="old-price">$119</span>
      <span class="new-price">$79</span>
    </p>
    <div class="row">
      <div class="col">
        <i class="bi bi-person"></i> <span>Instructor</span> 
      </div>
      <div class="col">Pamela Foster</div>
    </div>
    <div class="row">
      <div class="col">
        <i class="bi bi-clock"></i> <span>Duration</span> 
      </div>
      <div class="col">08 hr 15 mins</div>
    </div>
    <div class="row">
      <div class="col">
        <i class="bi bi-skip-end-btn"></i> <span>Lectures</span> 
      </div>
      <div class="col">29</div>
    </div>
    <div class="row">
      <div class="col">
        <i class="bi bi-bar-chart"></i> <span>Level</span> 
      </div>
      <div class="col">Secondary</div>
    </div>
    <div class="row">
      <div class="col">
        <i class="bi bi-globe"></i> <span>Language</span> 
      </div>
      <div class="col">English</div>
    </div>
    <div class="row">
      <div class="col">
        <i class="bi bi-bookmark"></i> <span>Certificate</span> 
      </div>
      <div class="col">Yes</div>
    </div>
    <div class="row mt-4">
      <div class="col text-center">
        <button class="btn btn-success mb-3" style="width: 8rem; height: 4rem;">Enroll Now</button>
        <br><a href="">Add to cart</a>
      </div>
      <div class="col text-center">
        <button class="btn btn-success mb-3" style="width: 8rem; height: 4rem;">Assignment Correction</button>
        <br><a href="">Add to schedule</a>
      </div>
    </div>
</div>