<div class="card social mt-4 border-0">
    <h6 class="h5">Share Course :</h6>
    <div class="row mt-4 text-center">
      <div class="col">
        <a href="">
          <i class="bi bi-facebook"></i>
        </a>
      </div>
      <div class="col">
        <a href="">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
      <div class="col">
        <a href="">
          <i class="bi bi-twitter"></i>
        </a>
      </div>
      <div class="col">
        <a href="">
          <i class="bi bi-skype"></i>
        </a>
      </div>
      <div class="col">
        <a href="">
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </div>
</div>