<div class="card bg-light border-0 mt-4">
    <h6 class="h5 fw-bold">Compétences associées</h6>
    <div class="row mt-3">
      <div class="mb-2">
        <div class="card text-center bg-light">Conception</div>
      </div>
      <div class="mb-2">
        <div class="card text-center bg-light">Design d'identité</div>
      </div>
      <div class="mb-2">
        <div class="card text-center bg-light">typographie</div>
      </div>
      <div class="mb-2">
        <div class="card text-center bg-light">Adobe Illustrator</div>
      </div>
      <div class="mb-2">
        <div class="card text-center bg-light">Conception de police de caractères</div>
      </div>
    </div>
</div>