<app-header></app-header>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="card border-0 cardOne">
                <app-card-one></app-card-one>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-0 mb-5 cardTwo">
                <app-card-two></app-card-two>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<button (click)="topFunction()" type="button" class="btn btn-sm" id="btn-back-to-top">
    <i class="bi bi-caret-up-fill"></i>
</button>